<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Voluptatem fugit iusto ad sapiente provident! Veritatis ducimus aliquam voluptatum laboriosam!
            Odio, iusto ea! Ducimus ab, adipisci beatae consequatur tempore, nihil nulla nesciunt dolorum saepe 
            architecto deleniti placeat impedit, perspiciatis est. Eos!</p>
    </div>
</div>