<div class="jumbotron mt-4">
    <h1 class="display-4">Monitoreo de Pacientes con Hipertensión Arterial</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iure et numquam explicabo 
        consequuntur voluptatem nulla doloremque ex dolore laudantium nam, dolor, asperiores impedit 
        labore quam? Ut aperiam inventore maxime.</p>
</div>